li {
list-style: none;
display: inline;
border-style:outset;
background-color: lightgrey;
}


ul {
  text-align: center;
}

#container {
background-color: white;
}

#nested_html {
  background-color: green;
  text-align: center;
  height: 500px;
  width: 500px;
}